
    body{
        /* background: #00415a; */
        width: 100%;
        height: auto;
        font-family: 'Abel', sans-serif;  
        padding-top: 20px;
        background-image: url("https://www.desktopbackground.org/download/o/2012/09/21/456188_dark-blue-texture-hd-wallpapers-free-hd-wallpapers-download-dark_1728x1080_h.jpg")
    }
    .color{
       
        
        border-radius: 10px;
        background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-white-solid-color-background.jpg")
    }
    .nav{
        font-size: 25px;
        border-radius: 10px;
        background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-white-solid-color-background.jpg")
       
        /* background: white; */
        

    }
    .link{
        color: black;
    }
    .nav-link{
        color: black;
    }
    /* img {
     
      }  */